
.navbar {
    background-color: #F2F2F2 !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 0px !important;

}
.navbar .nav-link {
    color: #555 !important;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555 !important;
    text-decoration: none !important;
}

.navbar .navbar-brand {
    color: #555 !important;
}
.analysis_clustering{
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}
.heading-3 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.column-map{
    box-sizing: border-box;
    min-height: 600px !important;
    width: 90%;
}
.trajectory_analysis{
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #8ea3b8;
}
.container-fluid{
    width: 90%;
}
.column{
    border-radius: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
