
.navbar {
    background-color: #F2F2F2;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.navbar .nav-link {
    color: #555;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #555;
}

.forecast_analysis{
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
}

.column{
    border-radius: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.column-map{
    box-sizing: border-box;
    min-height: 600px !important;
    width: 90%;
}
.heading-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.paragraph-2 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: left;
}

.forecast-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}
.hotspot-map {
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8ea3b8;
}
.historical-data {
    background-color: #8ea3b8;
    margin-top: 10px;
    padding-top: 10px;
}
.heading-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}
.paragraph-3 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  color: #FFFFFF;
}
.historical-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-fluid{
    width: 90%;
}

