html{
    background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
body{
    background-color: unset;
}
.main{
    all: unset;
}
.card {
    background: rgba(255, 255, 255, 0.58);
}
.navbar {
    background-color: #F2F2F2;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.navbar .nav-link {
    color: #555;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #555;
}

.recommendation-system {
    padding-top: 100px;
    padding-bottom: 60px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.column{
    border-radius: 5px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.column-map{
    box-sizing: border-box;
    min-height: 600px !important;
    width: 90%;
}
.heading-3 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
}
.paragraph-2 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: left;
}

.forecast-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.historical-data {
    background-color: #8ea3b8;
    margin-top: 10px;
    padding-top: 10px;
}
.heading-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}
.paragraph-3 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  color: #FFFFFF;
}
.historical-btn {
  margin-top: 10px;
  margin-bottom: 10px;

}

