{% extends "webapp/base.html" %}
{% load static %}
{% block parallax %}
<div class="container-fluid parallax">
    <h1 class="display-3"><b>CO-TOUR</b></h1>
    <p class="lead">The only compass you'll ever need</p>
    <p class="lead">
        <a class="btn btn-outline-primary btn-md" href="#" role="button">More</a>
    </p>
</div>
{% endblock parallax %}
{% block content %}
<div class="container services">
    <h2 class="text-center">Key Features</h2>
    <p class="text-muted mb-5 text-center text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras elementum pretium libero id
        feugiat. Sed sollicitudin felis quam, eu facilisis nulla hendrerit eu. Morbi congue lacinia facilisis. Nullam
        condimentum gravida pharetra. Phasellus dictum volutpat finibus. Nullam ac venenatis lorem. Quisque gravida arcu
        odio, nec dictum leo lacinia accumsan. Quisque laoreet dolor sit amet nulla aliquam eleifend a sed nunc. Nulla
        facilisi. </p>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <h4 class="card-title">Tourism Activity Explorer</h4>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info float-right btn-sm">More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <h4 class="card-title">Tourist Hotspot Predictor</h4>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info float-right btn-sm">More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <h4 class="card-title">Destination Finder</h4>
                    <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info float-right btn-sm">More</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid team">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsun</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="image-flip">
                <div class="mainflip flip-0">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img alt="card image"
                                        class=" img-fluid"
                                        src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png">
                                </p>
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <a class="btn btn-primary btn-sm" href="https://www.fiverr.com/share/qb8D02"><i
                                        class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse blandit arcu consectetur massa maximus, quis hendrerit mi finibus. Cras
                                    elementum pretium libero id feugiat.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" href="https://www.fiverr.com/share/qb8D02"
                                           target="_blank">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascripts %}
<script src="{% static 'webapp/js/main.js' %}"></script>
{% endblock javascripts %}
