{% extends "webapp/base.html" %}
{% load static %}

{% block styles %}
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="{% static 'webapp/css/tfh.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'webapp/css/MonthPicker.min.css' %}" rel="stylesheet" type="text/css">

{% endblock styles %}

{% block content %}
<div class="forecast_analysis">
    <div class="row">
        <div class="column col-md-3">
            <h3 class="heading-3 font-weight-bold">Tourist Hot Spot Forecast</h3>
            <p class="paragraph-2 font-weight-light">A Machine Learning Model To forecast tourist hot spots for the
                upcoming
                month using historical data</p>
            <form>
                <label class="sr-only" for="tfh_month_select">Select an upcoming Month: </label>
                <select class="form-control" id="tfh_month_select">
                    <option selected>Select an upcoming Month</option>
                    <option value="2020-07-01">July 2020</option>
                    <option value="2020-08-01">August 2020</option>
                    <option value="2020-09-01">September 2020</option>
                    <option value="2020-10-01">October 2020</option>
                </select>
                <button class="btn btn-primary forecast-btn" type="submit">Start Forecasting</button>
            </form>
            <p class="paragraph-2 font-weight-light">Need to add place here to display top 10 places {{Text}}</p>
        </div>
        <div class="column-map col-md-9">
            {{map.header.render|safe}}
            {{map.html.render|safe}}
            <script>
                  {{map.script.render|safe}}


            </script>
        </div>
    </div>
    <div class="historical-data">
        <h3 class="heading-4 font-weight-bold">Historical Data</h3>
        <label class="paragraph-3 font-weight-light">To view historical data click here: </label>
        <input id="month_picker" min="2018-03" name="month_picker" type="month" value="2020-05">
        <div class="row hist-map">
            <div class="column-map col-md-12">
                {{map2.header.render|safe}}
                {{map2.html.render|safe}}
                <script>
                  {{map2.script.render|safe}}
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script crossorigin="anonymous"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="{% static 'webapp/js/tfh.js' %}"></script>
<script src="{% static 'webapp/js/MonthPicker.min.js' %}"></script>

{% endblock javascripts %}