{% extends "webapp/base.html" %}
{% load static %}
{% block map_styles %} {{map.header.render|safe}} {{map2.header.render|safe}}{% endblock map_styles %}
{% block styles %}
<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="{% static 'webapp/css/tfh.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'webapp/css/MonthPicker.min.css' %}" rel="stylesheet" type="text/css">

{% endblock styles %}

{% block content %}
<div class="forecast_analysis">
    <div class="container-fluid">
        <div class="row">
            <div class="column col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="filter-sidebar">
                                    <h3 class="heading-3 font-weight-bold">Tourist Hot Spot Forecast</h3>
                                    <p class="paragraph-2 font-weight-light">Discover the impact of COVID-19 on the popularity of the different attractions in Munich</p>
                                    <form>
                                        {% csrf_token %}
                                        <label class="sr-only" for="tfh_month_select">Select an upcoming Month: </label>
                                        <select class="form-control" id="tfh_month_select"
                                                name="tfh_month_select">
                                            {% for date in PredDateList %}
                                            <option value="{{date}}" {% if date == selected_pred_date %} selected {% endif %} >{{date}}</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-primary forecast-btn" type="submit">Start Forecasting
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="filter-sidebar">
                                    <ul class="list-group">
                                        {% for place in top_10 %}
                                        <li class="list-group-item">
                                            {{place}}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-map col-md-9">
                {{map.html.render|safe}}
                <script>
                  {{map.script.render|safe}}

                </script>
            </div>
        </div>
    </div>
</div>
<div class="historical-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading-4 font-weight-bold">Historical Data</h3>

                <p class="paragraph-2 font-weight-normal text-center text-white">Navigate through historical data and explore the popularity of the different attractions in Munich</p>
                <form>
                    {% csrf_token %}
                    <select class="form-control mb-2 mr-sm-2" id="month_picker"
                                name="month_picker">
                            {% for date in HistDateList %}
                             <option value="{{date}}" {% if date == selected_hist_date %} selected {% endif %} >{{date}}</option>
                            {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="row hist-map">
            <div class="column-map col-md-12">
                {{map2.html.render|safe}}
                <script>
                  {{map2.script.render|safe}}



                </script>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script crossorigin="anonymous"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="{% static 'webapp/js/tfh.js' %}"></script>
<!--<script src="{% static 'webapp/js/MonthPicker.min.js' %}"></script>-->

{% endblock javascripts %}